.hgignore
node_modules
.c9revisions
.DS_Store
Thumbs.db

*.slo
*.lo
*.o
*.so
*.so.*
*.dylib
*.lai
*.la
*.a
*.lib
*.dll

*.exe
*.out
*.app

install_manifest.txt
CMakeCache.txt
CMakeFiles
cmake_install.cmake
